/.idea
/*.iml
/out
/project
!/project/build.properties
!/project/plugins.sbt
/target
.DS_Store
core/.DS_Store
core/src/.DS_Store
core/src/main/.DS_Store
core/src/main/scala/.DS_Store
core/src/main/scala/core/.DS_Store
core/target/
goodsContext/target/
orderContext/.DS_Store
orderContext/src/.DS_Store
orderContext/src/main/.DS_Store
orderContext/src/main/scala/.DS_Store
orderContext/target/
shopContext/.DS_Store
shopContext/src/.DS_Store
shopContext/src/main/scala/ec/.DS_Store
shopContext/src/main/scala/ec/shop/.DS_Store
shopContext/src/main/scala/ec/shop/domain/.DS_Store
shopContext/src/main/scala/ec/shop/domain/models/.DS_Store
shopContext/target/
